* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #022534;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-heading {
  font-size: 2.5em;
  margin-bottom: 2.5%;
}
